
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color:#1f2937 ;

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

}

#header-logo {
    font-size: 24px;    
    color: #f9faf8;    
}
.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row;
    
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
p   {
    font-size: 18px ;
    color: #e5e7eb;
}
.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}



.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 275px;
}  
.p-first {
    font-size: 18;
    color: #e5e7eb;
    
}


img{
    margin: 50px;
    
} 

.sign-up-first-section {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 35px;
    border: 1px #3882f6;
    border-radius: 5px;
}





h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row-of-blue-divs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    }
 

.box-blue{
    border-color: #3882f6;
    border-style: solid;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    }
p1 {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}
.third-section {
    margin-top: 100px;
    flex-wrap: wrap;
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.quote-signature {
    font-size: 20px;
    font-style: bolder;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;
    margin-right: 450px;


}
.fourth-section {
    background-color:#3882f6 ;
    border-radius: 5px;
    border-style: solid;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
}
.big-blue-msg {
    font-size: 30px;
    font-style: bolder;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    
}
button{
background-color: #3882f6;
font-size: 20px;
color: #f9faf8;
width: 100px;
height: 35px;
border: 1px #dee5f0;
border-radius: 5px;
border-style: solid;
margin-left: 100px;
}